/****Colors****/

/*Violet*/
$violet: #ca37e0;
$violetDark: #883695;

/*Blue*/
$blue: #008cff;

/*Grey*/
$grey: #797990;
$greyLight: #fefefe;

/*Black*/
$black: #000000;

/***Displays**/
$tab: 760px;
$mob: 560px;
